// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$light-gray: #f0f0f0; // 淡いグレー
$text-color-dark: #343a40; // 暗いテキストの色
$text-color-light: #ffffff; // 明るいテキストの色
$bg-custom-green: #4caf93; // カスタムグリーンの色
